<nav id="navbar">
	<div class="form-group has-search">
	<a href="#"><i class="fa fa-search"></i></a>
	    <input type="text" class="form-control" placeholder="Search">
	</div>
	<div class="user-avatar">
	    <div class="user-name">
		<strong><%- user.name %></strong>
	    </div>
	    <div class="avatar">
		<img src="/img/katri.png">
	    </div>
	</div>
</nav>
