<div class="panel">
        <a class="frame7" href="/">
            <i class="material-icons" style="font-size:26px">dashboard</i>
            <p>Home</p>
        </a>
        <a href="/user/notification" class="notification">
            <i class='far fa-bell' style='font-size:26px'></i>
            <p>Notification</p>
        </a>
        <a  href="/user/history" class="history">
            <i class="material-icons" style="font-size:26px">schedule</i>
            <p>History</p>
        </a>

        <a href="/user/settings" class="settings">
            <i class="material-icons" style="font-size:26px">settings</i>
            <p>Settings</p>
        </a>

        <a href="/logout" class="Logout">
            <i class="material-icons">exit_to_app</i>
            <p>Logout</p>
        </a> 
</div>

