*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter';
    overflow-x: hidden;
  
}

body{
    background: #F7F7F7;;
}

a{
    text-decoration: none;
}
 
 .panel{
    position: absolute;
    width: 222px;
    height: 1250px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
    
}

.frame7{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 30px;

    position: absolute;
    width: 239px;
    height: 54px;
    left: 0px;
    top: 130px;
    color: #898A8E;
    border: 0.75px solid rgba(255, 255, 255, 0.21);
    box-sizing: border-box;

    
}
.frame7 p{
    padding: 10px 0px 0px 30px;
    
}

.frame7:active{
    width: 100%;
    background: #606586;
    color: #FFFFFF;
   
}

.panel a{
    text-decoration: none;
    
}

.notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 30px;
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    top: 220.5px;
    border: 0.75px solid rgba(255, 255, 255, 0.21);
    box-sizing: border-box;
   

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: rgba(3, 5, 15, 0.5);

}

.notification p{
    padding: 10px 0px 0px 30px;
    
}


.notification:active{
    width: 100%;
    background: #606586;
    color: #FFFFFF;
}

.notification img{
  width: 26px;
  height: 26px;
  

}



.history{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 30px;
    position: relative;
    width: 239px;
    height: 54px;
    left: 0;
    top: 220.5px;
    margin-top: 3rem;
   
    font-family: "Roboto";
    color: #898A8E;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: rgba(3, 5, 15, 0.5);
}

.history p{
    padding: 10px 0px 0px 30px;
}

.history:active{
    width: 100%;
    background: #606586;
    color: #FFFFFF;
}

.settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 30px;
    position: relative;
    width: 239px;
    height: 54px;
    left: 0;
    top: 220.5px;
    margin-top: 4rem;
   

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: rgba(3, 5, 15, 0.5);
}

.settings p{
    padding: 10px 0px 0px 30px;
}

.settings:active{
    width: 100%;
    background: #606586;
    color: #FFFFFF;
}

.Logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 30px;
    position: relative;
    width: 239px;
    height: 54px;
    left: 0;
    top: 250.5px;
    margin-top: 70rem;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: rgba(3, 5, 15, 0.5);
}

.Logout p{
    padding: 10px 0px 0px 30px;
}

/*.Logout:active{
    width: 100%;
    background: #606586;
    color: #FFFFFF;
}*/


#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
    position: absolute;
    width: 1218px;
    height: 80px;
    left: 222px;
    top: -6px;
    z-index: 2;
    
    background: #F7F7F7;
}

.has-search, .user-avatar{
     margin: 0 2rem
}

.has-search .form-control {
    padding-left: 5rem;
}

.has-search .fa-search {
    position: absolute;
    z-index: 2;
    display: block;
    right: 1115px;
    top: 28px;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    cursor: pointer;
    color: #aaa;
}

.user-avatar{
    display: flex;
    margin-right: 66px;
    
}

.user-name{
    margin-top: 9px;
}

.avatar{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #383E67;;
    position: relative;
    margin-left: 10px;
}


.top{
    width: 507px;
    height: 60px;
    top: 125px;
    left: 327px;
}


.top header{
    position: absolute;
    width: 507px;
    height: 60px;
    left: 327px;
    top: 130px;

    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.582661px;

    color: #AD3546;

}

.top p{
    position: absolute;
    width: 795px;
    height: 48px;
    left: 331px;
    top: 170px;

    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 9px;
    display: flex;
    align-items: center;
    letter-spacing: -0.582661px;

    color: #03050F;
}

.bg-avatar{
    position: absolute;
    width: 478.67px;
    height: 320.68px;
    left: 30.01%;
    top: 275px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45%;
    width: 100%;
    font-family: "Inter";
    
}

form h5{
    height: 50px;
}

.fields{
    display: flex;
    width: 50%;
    margin: 15px 0px;
    padding: 0px 15px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    
    

}

.icon{
    padding: 15px;
    background: #ffffff;
    color: white;
    min-width: 15px;
    text-align: center;
}

.icon1{
    padding: 11px;
    background: #ffffff;
    color: white;
    min-width: 5px;
    text-align: center;
}

.control{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

.btn {
    background: #383E67;
    color: white;
    padding: 10px 15px;
    margin-top: 3%;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .footer{
    position: fixed;
    left: 16.5%;
    right: 0%;
    top: 90%;
    bottom: 0%;
    
    background: linear-gradient(252.57deg, #383E67 28.99%, rgba(146, 34, 56, 0.904508) 78.14%, rgba(255, 0, 0, 0.79) 144.18%);
  }